.gameboard-grid-container {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
    margin: 20px;
}

.grid-square {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.ship {
    background: blue;
}
