html,
body {
    background: lightgray;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.app-gameboard-container {
    display: flex;
    justify-content: center;
    /* width: 100vw;
    height: 80vh; */
}

/* @media only screen and (max-width: 768px) {
    .app-gameboard-container {
        flex-direction: column;
        align-items: center;
    }
} */

input {
    padding: 5px 10px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 10px;
    font-weight: 700;
    border: 1px solid blue;
    border-radius: 5%;
    color: blue;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
    border: 1px solid black;
    color: black;
    background-color: white;
}
